/*---------------------------- 
	Normalize + Clearfix 
---------------------------*/
.clearfix {
	*zoom:1
}

.clearfix:before,.clearfix:after {
	display:table;
	content:""
}

.clearfix:after {
	clear:both
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display:block
}

audio,canvas,video {
	display:inline-block;
	*display:inline;
	*zoom:1
}

audio:not([controls]) {
	display:none
}

html {
	background-color: #FFF;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

a:hover,a:active {
	outline:0
}

sub,sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}

sup {
	top:-.5em
}

sub {
	bottom:-.25em
}

img {
	max-width:100%;
	height:auto;
	border:0;
	-ms-interpolation-mode:bicubic
}

button,input,select,textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle
}

button,input {
	*overflow:visible;
	line-height:normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}

input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none
}

textarea {
	overflow:auto;
	vertical-align:top
}

body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333;
	background-color:#fff
}

a {
	color:#08c;
	text-decoration:none
}

a:hover {
	color:#005580;
	text-decoration:underline
}

hr {
	margin:18px 0;
	border:0;
	border-top:1px solid #eee;
	border-bottom:1px solid #fff
}

strong {
	font-weight:700
}

em {
	font-style:italic
}

/*---------------------------- 
	General 
---------------------------*/

.muted {
	color:#999
}

abbr {
	font-size:90%;
	text-transform:uppercase;
	border-bottom:1px dotted #ddd;
	cursor:help
}

blockquote {
	padding:0 0 0 15px;
	margin:0 0 18px;
	border-left:5px solid #eee
}

blockquote p {
	margin-bottom:0;
	font-size:16px;
	font-weight:300;
	line-height:22.5px
}

blockquote small {
	display:block;
	line-height:18px;
	color:#999
}

blockquote small:before {
	content:'\2014 \00A0'
}

blockquote.pull-right {
	float:right;
	padding-left:0;
	padding-right:15px;
	border-left:0;
	border-right:5px solid #eee
}

blockquote.pull-right p,blockquote.pull-right small {
	text-align:right
}

q:before,q:after,blockquote:before,blockquote:after {
	content:""
}

address {
	display:block;
	margin-bottom:18px;
	line-height:18px;
	font-style:normal
}

small {
	font-size:100%
}

cite {
	font-style:normal
}

.close {
	float:right;
	font-size:20px;
	font-weight:700;
	line-height:18px;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:.2;
	filter:alpha(opacity=20)
}

.close:hover {
	color:#000;
	text-decoration:none;
	opacity:.4;
	filter:alpha(opacity=40);
	cursor:pointer
}

.pull-right {
	float:right
}

.pull-left {
	float:left
}

/*---------------------------- 
	Typography 
---------------------------*/
p {
	margin:0 0 9px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px
}

p small {
	font-size:11px;
	color:#999
}

.lead {
	margin-bottom:18px;
	font-size:20px;
	font-weight:200;
	line-height:27px
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight:700;
	color:#333;
	text-rendering:optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight:400;
	color:#999
}

h1 {
	font-size:30px;
	line-height:36px
}

h1 small {
	font-size:18px
}

h2 {
	font-size:24px;
	line-height:36px
}

h2 small {
	font-size:18px
}

h3 {
	line-height:27px;
	font-size:18px
}

h3 small {
	font-size:14px
}

h4,h5,h6 {
	line-height:18px
}

h4 {
	font-size:14px
}

h4 small {
	font-size:12px
}

h5 {
	font-size:12px
}

h6 {
	font-size:11px;
	color:#999;
	text-transform:uppercase
}

/*---------------------------- 
	Lists 
---------------------------*/
ul,ol {
	padding:0;
	margin:0 0 9px 25px
}

ul ul,ul ol,ol ol,ol ul {
	margin-bottom:0
}

ul {
	list-style:disc
}

ol {
	list-style:decimal
}

li {
	line-height:18px
}

ul.unstyled,ol.unstyled {
	margin-left:0;
	list-style:none
}

dl {
	margin-bottom:18px
}

dt,dd {
	line-height:18px
}

dt {
	font-weight:700
}

dd {
	margin-left:9px
}