.hide {
	display:none
}

.show {
	display:block
}

.invisible {
	visibility:hidden
}

.fade {
	-webkit-transition:opacity .15s linear;
	-moz-transition:opacity .15s linear;
	-ms-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear;
	opacity:0
}

.fade.in {
	opacity:1
}

.collapse {
	-webkit-transition:height .35s ease;
	-moz-transition:height .35s ease;
	-ms-transition:height .35s ease;
	-o-transition:height .35s ease;
	transition:height .35s ease;
	position:relative;
	overflow:hidden;
	height:0
}

.collapse.in {
	height:auto
}