<!DOCTYPE html>
<html>
<head>
  <title>mCloud Web Client</title>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body class="dark">

<!--[if lt IE 7]>
  <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

<div class="l-main-content">
	<div class="login-container">
		<div class="logo"><img src="/assets/logo.png" alt="morphlabs"/></div>

		<form class="form-inline">
	        <input type="text" class="input-large" placeholder="Email">

	        <input type="password" class="input-large" placeholder="Password">

	        <%= link_to 'Login', session_dashboard_path(), :id => 'dashboard', :class => 'btn btn-primary btn-large' %>
	        <ul class="unstyled clearfix form-options">
		        <li class="left"><label class="checkbox"><input type="checkbox"> Keep Me Logged in</label></li>

		        <li class="left"><%= link_to 'Forgot Your Password', session_forget_password_path(), :id => 'forget_password' %></li>
	        </ul>
	    </form>

	    <p class="sign-up"><%= link_to "Don't have an Account? Sign Up Now!", session_sign_up_path(), :id => 'sign_up' %></p>
    </div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>