<div class="l-main-content">
    <form class="form-horizontal">
        <fieldset>
        	<legend>Your Information</legend>
        	
            <div class="control-group">
                <label class="control-label" for="name">Full Name</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="name">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Email</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="email">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">SSH <em class="optional">(optional)</em></label>

                <div class="controls">
                    <textarea class="input-xlarge" id="textarea" rows="3">
</textarea>

                    <p class="help-block">Allow user to have SSH access to virtual machines</p>
                </div>
            </div>
        </fieldset>
        
        <fieldset>
        	<legend>Your Password</legend>
        	
            <div class="control-group">
                <label class="control-label" for="password">Password</label>

                <div class="controls">
                    <input type="text" class="input-medium" id="password">
                    
                    <p class="help-block">Must be at least 6 characters long</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password-confirm">Password</label>

                <div class="controls">
                    <input type="text" class="input-medium" id="password-confirm">
                </div>
            </div>

        </fieldset>
        
        <fieldset>
        	<legend>Your Account Information</legend>
        	
            <div class="control-group">
                <label class="control-label" for="organization">Organization</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="organization">
                    
                    <p class="help-block">The account's company name (ex. Spacely's Space Sprockets)</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="max-computes">Max Computes</label>

                <div class="controls">
                    <input type="number" class="input-small" id="max-computes">
                    
                    <p class="help-block">Maximum number of compute servers that this account can have</p>
                </div>
            </div>
            
             <div class="control-group">
                <label class="control-label" for="deactivate">Deactivate</label>

                <div class="controls">
                      <p class="help-block"><a href="">Deactivate your account.</a></p>
                </div>
            </div>
        </fieldset>
        
        <a href="#" class="btn btn-primary btn-horizontal">Save Changes</a>
    </form>
</div>
