<style type="text/css">
	.table .empty-table {
		background-color: #F1f1f1;
		text-align: center;
		color: #AAA;
	}
</style>
<div class="l-main-content">
    <header class="clearfix">
        <h2 class="left">Billing Summary</h2>

        <p class="right"><a class="btn btn-primary disabled">Export</a></p>
    </header>

    <div class="filter" style="margin: 18px 0;">
        <select class="span4">
            <option>
                Select Project&hellip;
            </option>

            <option>
                Project 1
            </option>

            <option>
                3
            </option>

            <option>
                4
            </option>

            <option>
                5
            </option>
        </select> 
        
        <div class="right">
	        <select class="span2">
	            <option>
	                Month&hellip;
	            </option>
	
	            <option>
	                Jan
	            </option>
	
	            <option>
	                3
	            </option>
	
	            <option>
	                4
	            </option>
	
	            <option>
	                5
	            </option>
	        </select> 
	        
	        <select class="span2">
	            <option>
	                Year&hellip;
	            </option>
	
	            <option>
	                2012
	            </option>
	
	            <option>
	                3
	            </option>
	
	            <option>
	                4
	            </option>
	
	            <option>
	                5
	            </option>
	        </select>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>

                <th>Flavor</th>

                <th>Instance ID</th>

                <th class="align-right">Start Time</th>

                <th class="align-right">End Time</th>

                <th class="align-right">Usage</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="6" class="empty-table">
               		Looks like no projects were selected, select one from the dropdown menu above.
                </td>
            </tr>
        </tbody>
        
        <!--
<tbody>
            <tr>
                <td>March 5, 2012</td>

                <td>m1.tiny</td>

                <td>test server</td>

                <td class="align-right">09:11:44 UTC</td>

                <td class="align-right">09:11:44 UTC</td>

                <td class="align-right">0.00 VM Hours</td>
            </tr>
        </tbody>
        
       
		<tfoot>
        	<tr>
        		<td colspan="5" class="align-right">Total Compute Usage</td>
        		
        		<td class="align-right">0.00 VM Hours</td>
        	</tr>
        </tfoot>
-->
    </table>
    
</div>

