<div class="l-main-content">
    <header class="clearfix">
        <h2 class="left">Support</h2>
    </header>
    
    <p>At Morphlabs, our customers are very important to us and we have many different ways for you to connect with us.</p>

	<ul>
		<li><a href="">Look up an answer in the mCloud Knowledgebase</a></li>
		<li>Send us an email – <a href="">support@morphlabs.com</a></li>
		<li><a href="">Chat live with Morphlabs</a></li>
	</ul>
	
	<form>
                <fieldset>
                   <div class="control-group">
                        <label class="control-label" for="input01">First Name</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>    
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Last Name</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>    
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Company</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>   
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Phone</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>   
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Email Name</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>   
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Description</label>

                        <div class="controls">
                           <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
                        </div>
                    </div>            
            	</fieldset>
            </form>
</div>

