<style type="text/css">
.instance-wrapper {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.available-instance,
.selected-instance {
    height: 400px;
    overflow-y: auto;
}



.available-instance {
    width: 40%;
    float: left;
    border-right: 1px solid #CCC;
    background-color: #F5F5F5;
}

.selected-instance {
    width: 60%;
    float: right;
}

.instance-container {
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	position: relative;
}

.instance-container i {
	position: absolute; 
	top: 32px;
	right: 20px;
}

.instance-container:hover{ 
	cursor: pointer;
}

.available-instance .instance-container:hover i {
	right: 15px;
}

dd {
    margin-left: 0;
}

dl {
	padding: 0 15px;
}

.info {
	width: 100%;
	background-color: #F1f1f1;
	padding: 9px 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
	font-size: 12px;
	/* display: none; */
}

.info dl {
	margin: 3px 0;
}

.info dt {
	float: left;
	font-weight: normal;
	width: 50px;
	color: #aaa;
	margin-right: 10px;
	text-align: right;
}

.instance dt {
	font-size: 16px;
	font-family: 'TitilliumText22LRegular', sans-serif;
}

.instance dd {
	color: #CCC;
	margin-bottom: 3px;
}

.builder-header h2 {
	margin-bottom: 3px;
}

.builder-header h2:hover,
.description:hover {
	background-color: #fcf6e4;
}

.description {
	color: #666;
}

dd a {
	background-color: #333;
	color: #FFF;
	font-size: 11px;
	text-transform: uppercase;
	padding: 1px 3px;
}

.red {
	color: red;
}




</style>

<div class="l-main-content">
    <header class="builder-header">
        <h2>Click to edit project name<span class="red">*</span></h2>
  		<!-- <input type="text" class="span3"> -->
  		
  		<p class="description">Click to edit Description<span class="red">*</span></p>
  		<!-- <textarea class="input-xlarge" id="textarea" rows="3"></textarea> -->
    </header>

    <div class="instance-wrapper clearfix">
        <div class="available-instance">
            <div class="instance-container clearfix">
            	<i class="icon-arrow-right right"></i>
                
                <dl class="left instance">
                    <dt>TTY</dt>

                    <dd>m1.tiny</dd>
                    
                    <dd><a href="#">Show Details</a></dd>
                </dl>
                
                <div class="info clearfix left">
                	<dl>
                		<dt>CPU</dt>
                	           			
                	    <dd>Core i7</dd>
                	</dl>
                	
                	<dl>
                		<dt>Storage</dt>
                	           			
                	    <dd>180 Gb</dd>
                	</dl>
                	
                	<dl>
                		<dt>RAM</dt>
                	           			
                	    <dd>3GB</dd>
                	</dl>
                </div>
            </div>
            
            <div class="instance-container clearfix">
            	<i class="icon-arrow-right right"></i>
                
                <dl class="left instance">
                    <dt>TTY</dt>

                    <dd>m1.medium</dd>
                    
                    <dd><a href="#">Show Details</a></dd>
                </dl>
                
                <div class="info clearfix left">
                	<dl>
                		<dt>CPU</dt>
                	           			
                	    <dd>Core i7</dd>
                	</dl>
                	
                	<dl>
                		<dt>Storage</dt>
                	           			
                	    <dd>180 Gb</dd>
                	</dl>
                	
                	<dl>
                		<dt>RAM</dt>
                	           			
                	    <dd>3GB</dd>
                	</dl>
                </div>
            </div>
            
            <div class="instance-container clearfix">
            	<i class="icon-arrow-right right"></i>
                
                <dl class="left instance">
                    <dt>TTY</dt>

                    <dd>m1.large</dd>
                    
                    <dd><a href="#">Show Details</a></dd>
                </dl>
                
                <div class="info clearfix left">
                	<dl>
                		<dt>CPU</dt>
                	           			
                	    <dd>Core i7</dd>
                	</dl>
                	
                	<dl>
                		<dt>Storage</dt>
                	           			
                	    <dd>180 Gb</dd>
                	</dl>
                	
                	<dl>
                		<dt>RAM</dt>
                	           			
                	    <dd>3GB</dd>
                	</dl>
                </div>
            </div>
        </div>

        <div class="selected-instance">
            <div class="instance-container clearfix">
            	<i class="icon-remove right"></i>
                
                <dl class="left instance">
                    <dt>TTY</dt>

                    <dd>m1.large</dd>
                    
                    <dd><a href="#">Show Details</a></dd>
                </dl>
                
                <div class="info clearfix left">
                	<dl>
                		<dt>CPU</dt>
                	           			
                	    <dd>Core i7</dd>
                	</dl>
                	
                	<dl>
                		<dt>Storage</dt>
                	           			
                	    <dd>180 Gb</dd>
                	</dl>
                	
                	<dl>
                		<dt>RAM</dt>
                	           			
                	    <dd>3GB</dd>
                	</dl>
                </div>
            </div>
        </div>
    </div>

<div class="form-actions">
	<button type="submit" class="btn btn-primary">Save changes</button>
	<button class="btn">Cancel</button>
</div>
</div>

