<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

<script type="text/javascript">
$('#myModal').modal({
	backdrop: true,
	keyboard: false,
	show: false
});

</script>

<div class="container-fluid">
    <div class="row-fluid">
        <nav class="span3 l-sidebar">
            <div class="logo"><img src="assets/logo.png" alt="logo" width="176" height="43"></div>

            <ul class="nav">
                <li><a href="">Dashboard</a></li>

                <li>
                    <a href="">Projects</a>

                    <ul class="subnav is-hidden">
                        <li><a href="">Project List</a></li>

                        <li><a href="">Bundled Computes</a></li>

                        <li><a href="">Load Balancers</a></li>
                    </ul>
                </li>

                <li><a class="active" href="">Users</a></li>

                <li><a href="">Billing</a></li>
            </ul>
        </nav>

        <div class="span9 l-main">
            <header class="l-head clearfix">
                <div class="avatar left clearfix"></div>

                <dl class="user left">
                    <dt><a href="">Super SysAdmin Spoof</a></dt>

                    <dd>CP System Default Account</dd>
                </dl>

                <p><a class="btn right" href="">Logout</a></p>
            </header>

            <div class="l-main-content">
                <p><a class="btn btn-primary" data-toggle="modal" href="#myModal">Add User</a></p>

                <ul class="table-list unstyled">
                    <li class="clearfix heading">
                        <div class="username">
                            Username
                        </div>

                        <div class="email">
                            Email
                        </div>

                        <div class="status">
                            Status
                        </div>

                        <div class="role">
                            Role
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="username">
                            Super Sysadmin Spoof
                        </div>

                        <div class="email">
                            sysadmin@example.com
                        </div>

                        <div class="status">
                            Active
                        </div>

                        <div class="role">
                            <a href="#" rel="tooltip" title="first tooltip">Manage System Admin Users</a>
                        </div>

                        <ul class="inline controls">
                            <li><a href="">Disable</a></li>

                            <li><a href="">Make Owner</a></li>

                            <li><a href="" class="delete icon-trash">Delete</a></li>
                        </ul>
                    </li>

                    <li class="clearfix">
                        <div class="username">
                            Super Sysadmin Spoof
                        </div>

                        <div class="email">
                            sysadmin@example.com
                        </div>

                        <div class="status">
                            Active
                        </div>

                        <div class="role">
                            Role
                        </div>

                        <ul class="inline controls">
                            <li><a href="">Disable</a></li>

                            <li><a href="">Make Owner</a></li>

                            <li><a href="" class="delete icon-trash">Delete</a></li>
                        </ul>
                    </li>

                    <li class="clearfix">
                        <div class="username">
                            Super Sysadmin Spoof
                        </div>

                        <div class="email">
                            sysadmin@example.com
                        </div>

                        <div class="status">
                            Active
                        </div>

                        <div class="role">
                            Role
                        </div>

                        <ul class="inline controls">
                            <li><a href="">Disable</a></li>

                            <li><a href="">Make Owner</a></li>

                            <li><a href="" class="delete icon-trash">Delete</a></li>
                        </ul>
                    </li>

                    <li class="clearfix">
                        <div class="username">
                            Super Sysadmin Spoof
                        </div>

                        <div class="email">
                            sysadmin@example.com
                        </div>

                        <div class="status">
                            Active
                        </div>

                        <div class="role">
                            Role
                        </div>

                        <ul class="inline controls">
                            <li><a href="">Disable</a></li>

                            <li><a href="">Make Owner</a></li>

                            <li><a href="" class="delete icon-trash">Delete</a></li>
                        </ul>
                    </li>

                    <li class="clearfix">
                        <div class="username">
                            Super Sysadmin Spoof
                        </div>

                        <div class="email">
                            sysadmin@example.com
                        </div>

                        <div class="status">
                            Active
                        </div>

                        <div class="role">
                            Role
                        </div>

                        <ul class="inline controls">
                            <li><a href="">Disable</a></li>

                            <li><a href="">Make Owner</a></li>

                            <li><a href="" class="delete icon-trash">Delete</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="modal is-hidden" id="myModal">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>

                        <h3>Add User</h3>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="name">Full Name</label>

                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="name">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="email">Email</label>

                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="email">
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="email">SSH</label>

                                    <div class="controls">
                                        <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
                                        <p class="help-block">Allow user to have SSH access to virtual machines</p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary">Save changes</a> <a href="#" class="btn">Close</a>
                    </div>
                </div>

                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>

                        <li class="active"><a href="#">1</a></li>

                        <li><a href="#">2</a></li>

                        <li><a href="#">3</a></li>

                        <li><a href="#">4</a></li>

                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
