<div class="l-main-content">
	<header class="clearfix">
        <h2 class="left">Load Balancer</h2>

        <p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Creat Load Balancer</a></p>
    </header>

    <ul class="table-list unstyled" id="load-list">
        <li class="clearfix thead">
        	<div class="status">
                &nbsp;
            </div>
        	
            <div class="name">
                Name
            </div>

            <div class="ipaddress">
                IP Address
            </div>

            <div class="port align-right">
                Port
            </div>
            
            <div class="action align-right">
            	Action
            </div>
        </li>

        <li class="clearfix tbody">
            <div class="status">
                <div class="current-status online"></div>
            </div>

            <div class="name">
                sysadmin@example.com
            </div>

            <div class="ipaddress">
                IP Address
            </div>
            
            <div class="port align-right">
                58
            </div>
            
            <div class="action align-right">
            	<ul class="unstyled">
			        <li class="dropdown action-dropdown">
			        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
			        	
			            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
			
			            <ul class="dropdown-menu">
			                <li><a href="#"><i class="icon-ban-circle"></i> Disable</a></li>
			
			                <li><a href="#"><i class="icon-user"></i> Make Owner</a></li>
			 
			                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			            </ul>
			        </li>
			    </ul>
            </div>
        </li>
        
        <li class="clearfix tbody">
            <div class="status">
                <div class="current-status online"></div>
            </div>

            <div class="name">
                sysadmin@example.com
            </div>

            <div class="ipaddress">
                IP Address
            </div>
            
            <div class="port align-right">
                58
            </div>
            
            <div class="action align-right">
            	<ul class="unstyled">
			        <li class="dropdown action-dropdown">
			        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
			        	
			            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
			
			            <ul class="dropdown-menu">
			                <li><a href="#"><i class="icon-ban-circle"></i> Disable</a></li>
			
			                <li><a href="#"><i class="icon-user"></i> Make Owner</a></li>
			 
			                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			            </ul>
			        </li>
			    </ul>
            </div>
        </li>
        
        <li class="clearfix tbody">
            <div class="status">
                <div class="current-status online"></div>
            </div>

            <div class="name">
                sysadmin@example.com
            </div>

            <div class="ipaddress">
                IP Address
            </div>
            
            <div class="port align-right">
                58
            </div>
            
            <div class="action align-right">
            	<ul class="unstyled">
			        <li class="dropdown action-dropdown">
			        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
			        	
			            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
			
			            <ul class="dropdown-menu">
			                <li><a href="#"><i class="icon-ban-circle"></i> Disable</a></li>
			
			                <li><a href="#"><i class="icon-user"></i> Make Owner</a></li>
			 
			                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			            </ul>
			        </li>
			    </ul>
            </div>
        </li>
    </ul>
    
    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>

            <li class="active"><a href="#">1</a></li>

            <li><a href="#">2</a></li>

            <li><a href="#">3</a></li>

            <li><a href="#">4</a></li>

            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
