<style type="text/css">
	.flavor-description {
		width: 110px;
		padding: 9px 10px;
		background-color: #fcf6e4;
		border: 1px solid #faecd6;
	}
	
	#slider-status {
		margin-left: 0px;
	}
	
	.flavor-description dl {
		margin: 0;
		padding: 0;
	}
	
	.flavor-description dt {
		float: left;
		font-weight: normal;
		width: 40px;
		text-align: right;
		margin-right: 10px;
	}
	
	.instance-list {
		float: left;
		width: 45%;
		
		border-right: 1px solid #eeeeee;
	}
	
	.instance-container {
		height: 400px;
		overflow: auto;
	}
	
	.instance-item {
		border-bottom: 1px solid #eeeeee;
	}
	
	.instance-details {
		float: right;
		padding-left: px;
		width: 50%;
	}
	
	.instance-item input {
		float: left;
		margin: 15px 0 0 10px;
	}
	
	.instance-item dl {
		float: left;
		margin-left: 10px;
	}
	.instance-item dd {
		margin: 0;
	}
	
	.instance-modal {
		max-height: 600px;
		margin-top: -300px;
	}
</style>


<div class="l-main-content">
    <header class="clearfix">
    	<ul class="breadcrumb unstyled">
    		<li><h2 class="left"><a href="">Projects List</a></h2></li>
    		
    		<li><h2 class="left active"><a href="">Project Name</a></h2></li>
    	</ul>
    </header>
    
    <ul class="nav nav-tabs">
		<li class="active"><a href="#instance" data-toggle="tab">Instances &amp; Volumes</a></li>
		<li><a href="#security" data-toggle="tab">Access &amp; Security</a></li>
		<li><a href="#images" data-toggle="tab">Sanpshots</a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="instance">
			
			<div class="clearfix table-header">
				<h3 class="left">Instance List</h3>
	
	        	<p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Create Instance</a></p>
			</div>	
			
			<table class="table">
		        <thead>
		            <tr>
		                <th class="status">&nbsp;</th>
		                
		                <th>Name</th>
		
		                <th>IP Address</th>
		                
		                <th>Task</th>
						
						<th>Power State</th>
		                
		                <th class="align-right">Action</th>
		            </tr>
		        </thead>
		
		        <tbody>
		            <tr>
		                <td colspan="6" class="empty-table">
		               		There are currently no instances. <a href="">Create an instance.</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
                        
            <div class="clearfix table-header">
				<h3 class="left">Volumes List</h3>
	
	        	<p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Create Volume</a></p>
			</div>	
            
            <table class="table">
		        <thead>
		            <tr>
		                <th class="status">&nbsp;</th>
		                
		                <th>Name</th>
		
		                <th>Description</th>
		                
		                <th>Size</th>
		                
		                <th class="align-right">Action</th>
		            </tr>
		        </thead>
		
		        <tbody>
		            <tr>
		                <td colspan="5" class="empty-table">
		               		There are currently no volumes. <a href="">Create a Volume.</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
		<div class="tab-pane" id="security">
			<div class="clearfix table-header">
				<h3 class="left">Security Group List</h3>
	
	        	<p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Create Security Group</a></p>
			</div>	
			
			<ul class="table-list unstyled" id="bundled-list">
		        <li class="clearfix thead">
		        	
		            <div class="name">
		                Name
		            </div>
		
		            <div class="description">
		                Description
		            </div>
		            
		            <div class="action align-right">
		            	Action
		            </div>
		        </li>
		        
		        <li class="clearfix tbody">
		            <div class="name">
		                Security Group 1
		            </div>
		
		            <div class="description">
		                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		            </div>
		            
		            <div class="action align-right">
		            	<ul class="unstyled">
					        <li class="dropdown action-dropdown">
					        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
					        	
					            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
					
					            <ul class="dropdown-menu">
					                <li><a href="#" data-toggle="modal" href="#myModal"><i class="icon-ban-circle"></i> View Security Group</a></li>
					
					                <li><a href="#"><i class="icon-user"></i> Make Owner</a></li>
					 
					                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
					            </ul>
					        </li>
					    </ul>
		            </div>
		        </li>
			</ul>
		</div>
		
		<div class="tab-pane" id="images">
			<div class="clearfix table-header">
				<h3 class="left">Snapshot List</h3>
	
	        	<p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Create Snapshot</a></p>
			</div>	
			
			<table class="table">
		        <thead>
		            <tr>
		                <th>Name</th>
		
		                <th>Description</th>
		                
		                <th>Size</th>
						
						<th>Status</th>
		                
		                <th>Volume ID</th>
		                
		                <th class="align-right">Action</th>
		            </tr>
		        </thead>
		
		        <tbody>
		            <tr>
		                <td>New snapshot</td>
		
		                <td>Description of snapshot</td>
		                
		                <td>1 GB</td>
						
						<td>Available</td>
		                
		                <td>7</td>
		                
		                <td class="align-right"><a href="#" class="default-action"><i class="icon-trash"></i> Delete </a></td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
   
    
	<div class="modal instance-modal" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Launch Instance</h3>
        </div>

        <div class="modal-body clearfix">
        	<div class="instance-list">
        		<input class="span2" type="text" placeholder="Search">
        		
        		<div class="instance-container"><div class="instance-item clearfix">
        			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	        		<dl>
	        			<dt>Instance Name</dt>
	        		           			
	        		    <dd>Instance Description</dd>
	        		</dl>
        		</div>
        		
        		<div class="instance-item clearfix">
        			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	        		<dl>
	        			<dt>Instance Name</dt>
	        		           			
	        		    <dd>Instance Description</dd>
	        		</dl>
        		</div>
        		
        		<div class="instance-item clearfix">
        			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	        		<dl>
	        			<dt>Instance Name</dt>
	        		           			
	        		    <dd>Instance Description</dd>
	        		</dl>
        		</div>
        		
        		<div class="instance-item clearfix">
        			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	        		<dl>
	        			<dt>Instance Name</dt>
	        		           			
	        		    <dd>Instance Description</dd>
	        		</dl>
        		</div>
        		
        		
        		
        		
        		<div class="instance-item clearfix">
        			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	        		<dl>
	        			<dt>Instance Name</dt>
	        		           			
	        		    <dd>Instance Description</dd>
	        		</dl>
        		</div></div>
        	</div>
        	
            <form class="clearfix instance-details">
                <fieldset>
                   <div class="control-group">

                        <div class="controls">
                            <input type="text" class="large" placeholder="Server Name">
                        </div>
                    </div>     
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Flavor</label>

                        <div class="controls">
                           <input type="range" min="0" max="4" value="0" step="1" onChange="sliderChange(this.value);"/>
                           
                           <div class="flavor-description">
	                           <p><strong id="slider-status">XSmall</strong></p>
	                           
	                           <dl>
	                           		<dt>CPU</dt>
	                                      			
	                           		<dd>core i7</dd>
	                           </dl>
	                           
	                           <dl>
	                           		<dt>RAM</dt>
	                                      			
	                           		<dd>1 GB</dd>
	                           </dl>
	                           
	                           <dl>
	                           		<dt>HD</dt>
	                                      			
	                           		<dd>1 TB</dd>
	                           </dl>
                           </div>
                        </div>
                    </div>  
                    
                    <div class="control-group">

                        <div class="controls">
                           <select id="select01">
			                <option>Select Keypair&hellip;</option>
			                <option>Create Keypair&hellip;</option>
			                <option>3</option>
			                <option>4</option>
			                <option>5</option>
			              </select>
                        </div>
                    </div>    
                    
                    <div class="control-group">
	                    <label class="control-label" for="input01">Instance Count</label>
	
	                    <div class="controls">
	                        <input type="text" class="input-small" id="input01" value="1">
	                    </div>
	                </div>     
	                
	                <div class="control-group">
                        <label class="control-label" for="input01">Security Group</label>

                        <div class="controls">
                           <label class="checkbox">
			                <input type="checkbox" id="optionsCheckbox" value="option1">
			              	Default
			              </label>
                        </div>
                    </div>      
            	</fieldset>
            	
            	
            </form>
        </div>

        <div class="modal-footer ">
            <a href="#" class="btn btn-primary">Launch Instace</a> <a href="#" class="btn">Close</a>
        </div>
    </div>
</div>


