<style type="text/css">
	.table .default-action {
		width: 500px;
		text-align: left;
	}
	
	.table .empty-table {
		background-color: #F1f1f1;
		text-align: center;
		color: #AAA;
	}
</style>

<div class="l-main-content">
    <header class="clearfix">
        <h2 class="left">Projects List</h2>

        <p class="right"><a class="btn btn-primary">Create Project</a></p>
    </header>
     
	<table class="table">
        <thead>
            <tr>
                <th class="status">&nbsp;</th>
                
                <th>Project Name</th>
                
                <th>Description</th>

                <th>Servers</th>
                
                <th class="align-right">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><div class="status left"><div class="current-status online"></div></div></td>

                <td>Project 1</td>

				<td>Description</td>
				
                <td>6 servers</td>

                <td class="align-right">
                    <ul class="unstyled">
				        <li class="dropdown action-dropdown">
				        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
	
				            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
	
				            <ul class="dropdown-menu">
				                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
		
								<li><a href="#"><i class="icon-arrow-left"></i> Commit</a></li>
								
								<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
				            </ul>
				        </li>
				    </ul>
                </td>
            </tr>
            
            <tr>
                <td><div class="status left"><div class="current-status online"></div></div></td>

                <td>Project 1</td>

				<td>Description</td>
				
                <td>6 servers</td>

                <td class="align-right">
                    <ul class="unstyled">
				        <li class="dropdown action-dropdown">
				        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
	
				            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
	
				            <ul class="dropdown-menu">
				                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
		
								<li><a href="#"><i class="icon-arrow-left"></i> Commit</a></li>
								
								<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
				            </ul>
				        </li>
				    </ul>
                </td>
            </tr>
            
            <tr>
                <td><div class="status left"><div class="current-status online"></div></div></td>

                <td>Project 1</td>
                
				<td>Description</td>

                <td>6 servers</td>

                <td class="align-right">
                    <ul class="unstyled">
				        <li class="dropdown action-dropdown">
				        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
	
				            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
	
				            <ul class="dropdown-menu">
				                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
		
								<li><a href="#"><i class="icon-arrow-left"></i> Commit</a></li>
								
								<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
				            </ul>
				        </li>
				    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <!--
	<table class="table">
        <thead>
            <tr>
                <th class="status">&nbsp;</th>
                
                <th>Name</th>

                <th>IP Address</th>
                
                <th>Task</th>
				
				<th>Power State</th>
                
                <th class="align-right">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="6" class="empty-table">
               		There are currently no instances. <a href="">Create an instance.</a>
                </td>
            </tr>
        </tbody>
    </table>
-->
    
  	<div class="modal" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Create Project</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal">
                <fieldset>
                   <div class="control-group">
                        <label class="control-label" for="input01">Project Name</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                        </div>
                    </div>     
                    
                    <div class="control-group">
                        <label class="control-label" for="input01">Description</label>

                        <div class="controls">
                           <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
                        </div>
                    </div>            
            	</fieldset>
            </form>
        </div>

        <div class="modal-footer horizontal">
            <a href="#" class="btn btn-primary">Save</a> <a href="#" class="btn">Close</a>
        </div>
    </div>
    
    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>

            <li class="active"><a href="#">1</a></li>

            <li><a href="#">2</a></li>

            <li><a href="#">3</a></li>

            <li><a href="#">4</a></li>

            <li><a href="#">Next</a></li>
        </ul>
    </div>
    
	
</div>


