<style type="text/css">
	
</style>
<div class="l-main-content">
	<div class="alert alert-success">
	  <a class="close" data-dismiss="alert">×</a>
	  Added Username to the list.
	</div>

    <header class="clearfix">
        <h2 class="left">User List</h2>

        <p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Add User</a></p>
    </header>
    
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>

                <th>Email</th>

                <th>Status</th>
                
                <th>Projects</th>
                
                <th class="align-right">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Super Sysadmin Spoof</td>

                <td>sysadmin@example.com</td>

                <td>Active</td>
                
                <td>6 Projects</td>

                <td class="align-right">
                    <ul class="unstyled">
				        <li class="dropdown action-dropdown">
				        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
	
				            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
	
				            <ul class="dropdown-menu">
				                <li><a href="#"><i class="icon-ban-circle"></i> Disable</a></li>
	
				                <li><a href="#"><i class="icon-user"></i>Make Owner</a></li>
	
				                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
				            </ul>
				        </li>
				    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table">
        <thead>
            <tr>
                <th>IP Adrress</th>

                <th>Instance</th>

                <th>Floating IP Pool</th>
                
                <th class="align-right">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>192.168.27.129</td>

                <td>Instance 1</td>

                <td>nova</td>

                <td class="align-right">
                    <ul class="unstyled">
				        <li class="dropdown action-dropdown">
				        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
	
				            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
	
				            <ul class="dropdown-menu">
	
				                <li><a href="#"><i class="icon-trash"></i> Release Floating IP</a></li>
				            </ul>
				        </li>
				    </ul>
                </td>
            </tr>
        </tbody>
    </table>
      
   	
    <div class="modal is-hidden" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Create User</h3>
        </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Full Name</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>

                            <div class="controls">
                                <input type="email" class="input-large" id="email">
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label" for="password">Password</label>

                            <div class="controls">
                                <input type="password" class="input-large" id="email">
                            </div>
                        </div>
                        
                        <div class="control-group">
				            <label class="control-label" for="multiSelect">Access to</label>
				            
				            <div class="controls">
				              <select multiple="multiple" id="multiSelect">
				              	<option>None</option>
				                <option>Project 1</option>
				                <option>Project 2</option>
				                <option>Project 3</option>
				                <option>Project 4</option>
				                <option>Project 5</option>
				              </select>
				            </div>
			          </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer horizontal">
                <a href="#" class="btn btn-primary">Create User</a> <a href="#" class="btn">Close</a>
            </div>

    </div>
    
     <div class="modal" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Allocate Floating IP</h3>
        </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="pool">Pool</label>

                            <div class="controls">
                                <select>
					                <option>Select Pool...</option>
					                <option>2</option>
					                <option>3</option>
					                <option>4</option>
					                <option>5</option>
					            </select>
                            </div>
                        </div>
                        
                        <div class="control-group">
				            <label class="control-label" for="instance">Instance <em class="optional">(optional)</em></label>
				
				            <div class="controls">
				                <select>
					                <option>Associate with Instance...</option>
					                <option>2</option>
					                <option>3</option>
					                <option>4</option>
					                <option>5</option>
					            </select>
				            </div>
				        </div>
                   </fieldset>
                </form>
            </div>
            
            

            <div class="modal-footer horizontal">
                <a href="#" class="btn btn-primary">Allocate Floating IP</a> <a href="#" class="btn">Close</a>
            </div>
    </div>

    <div class="modal is-hidden" id="modalEditUser">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Edit User</h3>
        </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Full Name</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name" value="Full Name">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" id="email" value="Email">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">SSH <em class="optional">(optional)</em></label>

                            <div class="controls">
                                <textarea class="input-xlarge" id="textarea" rows="3">
</textarea>

                                <p class="help-block">Allow user to have SSH access to virtual machines</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Permissions</label>

                            <div class="controls">
                                <label class="checkbox"><input type="checkbox" id="permissions" value="option1"><a rel="tootip" title="description of this role">Manage User Controls</a></label> <label class="checkbox"><input type="checkbox" id="permissions" value="option1"> Manage System Admin Users</label> <label class="checkbox"><input type="checkbox" id="permissions" value="option1"> Manage Accounts</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer horizontal">
                <a href="#" class="btn btn-primary">Save</a> <a href="#" class="btn">Cancel</a>
            </div>

    </div>
    
    <div class="modal" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Edit 192.168.27.129</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="pool">Pool</label>

                        <div class="controls">
                            <select>
                                <option>
                                    Select Pool...
                                </option>

                                <option>
                                    2
                                </option>

                                <option>
                                    3
                                </option>

                                <option>
                                    4
                                </option>

                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="instance">Instance <em class="optional">(optional)</em></label>

                        <div class="controls">
                            <select>
                                <option>
                                    Associate with Instance...
                                </option>

                                <option>
                                    2
                                </option>

                                <option>
                                    3
                                </option>

                                <option>
                                    4
                                </option>

                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="modal-footer horizontal">
            <a href="#" class="btn btn-primary">Save</a> <a href="#" class="btn">Close</a>
        </div>
    </div>


    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>

            <li class="active"><a href="#">1</a></li>

            <li><a href="#">2</a></li>

            <li><a href="#">3</a></li>

            <li><a href="#">4</a></li>

            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
