<div class="l-main-content">
    <header class="clearfix">
        <h2 class="left">Volumes List</h2>

        <p class="right"><a class="btn btn-primary" data-toggle="modal" href="#myModal">Create Volume</a></p>
    </header>

    <ul class="table-list unstyled" id="volume-list">
        <li class="clearfix thead">
            <div class="name">
                Name
            </div>

            <div class="description">
                Description
            </div>

            <div class="size align-right">
                Size
            </div>
            
            <div class="action align-right">
            	Action
            </div>
        </li>

        <li class="clearfix tbody">
            <div class="name">
                Volume name
            </div>

            <div class="description">
                Description of volume
            </div>

            <div class="size align-right">
                8 GB
            </div>
                        
            <div class="action align-right">
            	<ul class="unstyled">
			        <li class="dropdown action-dropdown">
			        	<a href="#" class="default-action"><i class="icon-edit"></i> Edit</a>
			        	
			            <a class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="More Options" href=""><b class="caret"></b></a>
			
			            <ul class="dropdown-menu">
			                <li><a href="#"><i class="icon-ban-circle"></i> Disable</a></li>
			
			                <li><a href="#"><i class="icon-user"></i> Make Owner</a></li>
			 
			                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			            </ul>
			        </li>
			    </ul>
            </div>
        </li>
    </ul>

    <div class="modal is-hidden" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>

            <h3>Add Volume</h3>
        </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>

                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="description">Description</label>

                            <div class="controls">
                                <textarea class="input-xlarge" id="textarea" rows="3">
</textarea>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Size</label>

                            <div class="controls">
                                <div class="input-append">
					            	<input class="input-small" id="appendedInput" size="16" type="text">
					                
					                <span class="add-on">GB</span>
					            </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer horizontal">
                <a href="#" class="btn btn-primary">Create Volume</a> <a href="#" class="btn">Close</a>
            </div>
  
    </div>

    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>

            <li class="active"><a href="#">1</a></li>

            <li><a href="#">2</a></li>

            <li><a href="#">3</a></li>

            <li><a href="#">4</a></li>

            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
