.row {
	margin-left:-20px;
	*zoom:1
}

.row:before,.row:after {
	display:table;
	content:""
}

.row:after {
	clear:both
}

[class*="span"] {
	float:left;
	margin-left:20px
}

.span1 {
	width:60px
}

.span2 {
	width:140px
}

.span3 {
	width:220px
}

.span4 {
	width:300px
}

.span5 {
	width:380px
}

.span6 {
	width:460px
}

.span7 {
	width:540px
}

.span8 {
	width:620px
}

.span9 {
	width:700px
}

.span10 {
	width:780px
}

.span11 {
	width:860px
}

.span12,.container {
	width:940px
}

.offset1 {
	margin-left:100px
}

.offset2 {
	margin-left:180px
}

.offset3 {
	margin-left:260px
}

.offset4 {
	margin-left:340px
}

.offset5 {
	margin-left:420px
}

.offset6 {
	margin-left:500px
}

.offset7 {
	margin-left:580px
}

.offset8 {
	margin-left:660px
}

.offset9 {
	margin-left:740px
}

.offset10 {
	margin-left:820px
}

.offset11 {
	margin-left:900px
}

.row-fluid {
	width:100%;
	*zoom:1
}

.row-fluid:before,.row-fluid:after {
	display:table;
	content:""
}

.row-fluid:after {
	clear:both
}

.row-fluid > [class*="span"] {
	float:left;
	margin-left:2.127659574%
}

.row-fluid > [class*="span"]:first-child {
	margin-left:0
}

.row-fluid > .span1 {
	width:6.382978723%
}

.row-fluid > .span2 {
	width:14.89361702%
}

.row-fluid > .span3 {
	width:23.404255317%
}

.row-fluid > .span4 {
	width:31.914893614%
}

.row-fluid > .span5 {
	width:40.425531911%
}

.row-fluid > .span6 {
	width:48.936170208%
}

.row-fluid > .span7 {
	width:57.446808505%
}

.row-fluid > .span8 {
	width:65.957446802%
}

.row-fluid > .span9 {
	width:74.468085099%
}

.row-fluid > .span10 {
	width:82.978723396%
}

.row-fluid > .span11 {
	width:91.489361693%
}

.row-fluid > .span12 {
	width:99.99999999%
}

.container {
	width:940px;
	margin-left:auto;
	margin-right:auto;
	*zoom:1
}

.container:before,.container:after {
	display:table;
	content:""
}

.container:after {
	clear:both
}

.container-fluid {
	min-width: 980px;
	*zoom:1
}

.container-fluid:before,.container-fluid:after {
	display:table;
	content:""
}

.container-fluid:after {
	clear:both
}