.l-head {
	background-color: $white-medium;
	padding: 0 40px;
	
	a { color: $black; }
	a:hover { color: $black-light; }
	
	.user dd {
		margin-left: 0;
		color: $grey;
	}
	
	.btn {
		margin-top: 15px;	
	}
}

.avatar {
	width: 42px;
	height: 42px;
	text-align: center;
	margin: 12px 10px 0 0;
	border: 1px dotted $grey-light;
	border-radius: 3px; 
	
	i {
		margin-top: 12px;
	}
}