.l-sidebar {
	background-color: $black-medium;
	height: 100%;
	
	a {
		color: $black-light;
		display: block;
		padding: 12px 0 12px 15px;
		margin-left: 10px;
	}
	
	a:hover {
		color: $white;
	}
	
	.logo {
		margin: 27px 20px 36px;
	}
	
	.main-nav,
	.subnav {
		list-style: none;
	}
	
	.main-nav {
		@include titillium-med;
		font-size: 14px;
		margin-left: 0;
		text-transform: uppercase;
		
		.active {
			color: $white;
			background-color: $black;
			
			border-top: 1px solid $white-dark;
			border-left: 1px solid $white-dark;
			border-bottom: 1px solid $white-dark;
			
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
	
	
	.subnav {
		.active {
			background-color: transparent;
			border: none;
		}
	}
}




