.range {
		margin-right: 10px;
	}
	
	#summary .item,
	#summary .total {
		width: 80%;
	}
	
	#summary .price {
		width: 20%;
	}
	
	li.tfoot {
		border-bottom: 0;
	}
	
	.date {
		width: 15%;
	}
	
	
	.compute-type {
		width: 15%;
	}
	
	.instance-id {
		width: 15%;
	}
	
	.start-time {
		width: 15%;
	}
	
	.end-time {
		width: 15%;
	}
	
	.usage {
		width: 10%;
	}
	
	.unit {
		width: 7.5%;
	}
	
	.amount {
		width: 7.5%;
	}
	
	.bill-type {
		margin-bottom: 18px;
	}
	
	#total-summary .label {
		width: 30%;
	}
	
	.value {
		width: 30%;
	}
	
	#total-summary-heading {
		margin: 36px 0 0;
	}
	
	.emphasis {
		color: #000;
	}