.btn {
	display:inline-block;
	padding:4px 10px;
	margin-bottom:0;
	font-size:13px;
	line-height:18px;
	color:#333;
	text-align:center;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	vertical-align:middle;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top,#ffffff,#e6e6e6);
	background-image:-ms-linear-gradient(top,#ffffff,#e6e6e6);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
	background-image:-webkit-linear-gradient(top,#ffffff,#e6e6e6);
	background-image:-o-linear-gradient(top,#ffffff,#e6e6e6);
	background-image:linear-gradient(top,#ffffff,#e6e6e6);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #ccc;
	border-bottom-color:#bbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	cursor:pointer;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	*margin-left:.3em;
	 @include titillium-bold;
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
	background-color:#e6e6e6
}

.btn:active,.btn.active {
	background-color:#ccc \9
}

.btn:first-child {
	*margin-left:0
}

.btn:hover {
	color:#333;
	text-decoration:none;
	background-color:#e6e6e6;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-ms-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}

.btn:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

.btn.active,.btn:active {
	background-image:none;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#e6e6e6;
	background-color:#d9d9d9 \9;
	outline:0
}

.btn.disabled,.btn[disabled] {
	cursor:default;
	background-image:none;
	background-color:#e6e6e6;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}

.btn-large {
	padding:9px 14px;
	font-size:15px;
	line-height:normal;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}

.btn-large [class^="icon-"] {
	margin-top:1px
}

.btn-small {
	padding:5px 9px;
	font-size:11px;
	line-height:16px
}

.btn-small [class^="icon-"] {
	margin-top:-1px
}

.btn-mini {
	padding:2px 6px;
	font-size:11px;
	line-height:14px
}

.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover {
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	color:#fff
}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-dark.active {
	color:rgba(255,255,255,0.75)
}

.btn-primary {
	background-color: #dd0038;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd0038), to(#c3002f));
	background-image: -webkit-linear-gradient(top, #dd0038, #c3002f);
	background-image: -moz-linear-gradient(top, #dd0038, #c3002f);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dd0038', EndColorStr='#c3002f');
	
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);


	/*
background-color:#006dcc;
	background-image:-moz-linear-gradient(top,#0088cc,#0044cc);
	background-image:-ms-linear-gradient(top,#0088cc,#0044cc);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0044cc));
	background-image:-webkit-linear-gradient(top,#0088cc,#0044cc);
	background-image:-o-linear-gradient(top,#0088cc,#0044cc);
	background-image:linear-gradient(top,#0088cc,#0044cc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);
	border-color:#04c #04c #002a80;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
*/
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
	background-color:#c3002f
}

.btn-primary:active,.btn-primary.active {
	background-color:#039 \9
}

.btn-warning {
	background-color:#faa732;
	background-image:-moz-linear-gradient(top,#fbb450,#f89406);
	background-image:-ms-linear-gradient(top,#fbb450,#f89406);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
	background-image:-o-linear-gradient(top,#fbb450,#f89406);
	background-image:linear-gradient(top,#fbb450,#f89406);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled] {
	background-color:#f89406
}

.btn-warning:active,.btn-warning.active {
	background-color:#c67605 \9
}

.btn-danger {
	background-color:#da4f49;
	background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-ms-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:linear-gradient(top,#ee5f5b,#bd362f);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#bd362f',GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
	background-color:#bd362f
}

.btn-danger:active,.btn-danger.active {
	background-color:#942a25 \9
}

.btn-success {
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top,#62c462,#51a351);
	background-image:-ms-linear-gradient(top,#62c462,#51a351);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image:-webkit-linear-gradient(top,#62c462,#51a351);
	background-image:-o-linear-gradient(top,#62c462,#51a351);
	background-image:linear-gradient(top,#62c462,#51a351);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {
	background-color:#51a351
}

.btn-success:active,.btn-success.active {
	background-color:#408140 \9
}

.btn-info {
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-ms-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:linear-gradient(top,#5bc0de,#2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {
	background-color:#2f96b4
}

.btn-info:active,.btn-info.active {
	background-color:#24748c \9
}

.btn-inverse {
	background-color:#393939;
	background-image:-moz-linear-gradient(top,#454545,#262626);
	background-image:-ms-linear-gradient(top,#454545,#262626);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#454545),to(#262626));
	background-image:-webkit-linear-gradient(top,#454545,#262626);
	background-image:-o-linear-gradient(top,#454545,#262626);
	background-image:linear-gradient(top,#454545,#262626);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545',endColorstr='#262626',GradientType=0);
	border-color:#262626 #262626 #000;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled] {
	background-color:#262626
}

.btn-inverse:active,.btn-inverse.active {
	background-color:#0c0c0c \9
}

button.btn,input[type="submit"].btn {
	*padding-top:2px;
	*padding-bottom:2px
}

button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner {
	padding:0;
	border:0
}

button.btn.large,input[type="submit"].btn.large {
	*padding-top:7px;
	*padding-bottom:7px
}

button.btn.small,input[type="submit"].btn.small {
	*padding-top:3px;
	*padding-bottom:3px
}