.login-container {
	position:fixed;
	top:50%;
	left:50%;
	z-index:1050;
	max-height:500px;
	overflow:auto;
	width:560px;
	margin:-250px 0 0 -280px;
	text-align: center;
	
	input {
		padding-top: 9px;
		padding-bottom: 9px;
	} 
	
	.logo {
		margin-bottom: 18px;
	}
	
	.form-inline > .input-large {
		margin-right: 1px;
	}
	
	form {
		background-color: $white;
		margin-bottom: 21px;
		padding: 27px 20px 21px;
		border:1px solid #999;
		border:1px solid rgba(0,0,0,0.3);
		border-radius: 3px;
	}
	
	.form-options li {
		width: 213px;
		padding-left: 5px;
		text-align: left;
		margin: 6px 10px 0 0;
	}
	
	.form-options label,
	.form-options a {
		color: $grey;
	}
	
	.sign-up a {
		color: $white;
		text-shadow: -1px 0 0px rgba(0,0,0,.4);
	}
	
	.sign-up a:hover {
		color: $red;
	}
}