.popover {
	position:absolute;
	top:0;
	left:0;
	z-index:1010;
	display:none;
	padding:5px
}

.popover.top {
	margin-top:-5px
}

.popover.right {
	margin-left:5px
}

.popover.bottom {
	margin-top:5px
}

.popover.left {
	margin-left:-5px
}

.popover.top .arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #000
}

.popover.right .arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #000
}

.popover.bottom .arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #000
}

.popover.left .arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #000
}

.popover .arrow {
	position:absolute;
	width:0;
	height:0
}

.popover-inner {
	padding:3px;
	width:280px;
	overflow:hidden;
	background:#000;
	background:rgba(0,0,0,0.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3)
}

.popover-title {
	padding:9px 15px;
	line-height:1;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0
}

.popover-content {
	padding:14px;
	background-color:#fff;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box
}

.popover-content p,.popover-content ul,.popover-content ol {
	margin-bottom:0
}