
.project-name {
	width: 77%;
}

.default-action {
	margin-right: 5px;
}

.type {
	width: 30%;
}

.dns {
	width: 37%;
}

.ipaddress {
	width: 20%;
}

.action {
	width: 10%;
}

.action-large  {
	width: 16%;
}


#bundled-list {
	.description {
		width: 53%;
	}
}

.project-container {
	margin-bottom: 0px;
}

.project-body {	
	padding: 12px 0;
	
	.nav {
		margin-bottom: 0;
	}
	
	.table-header {
		margin: 12px 0 0;
	}
	
	.tab-content {
		padding: 9px 10px 18px;
		background-color: $white-light;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	
	.thead {
		border-color: $grey-light;
	}
}

.project-header {
	border-bottom: 1px solid $grey-light;
	padding: 15px 5px;
	color: $grey;

	a {
		color: $grey;
	}
}

.project-header:hover {
	cursor: pointer;
	color: $black;

	a {
		color: $red;
	}
}

.row-selected {
	color: $black;
}

.current-status {
	width: 6px;
	height: 6px;
	border-radius: 10px;
	margin: 5px 0 0 5px;
}

.online {
	background-color: #bbe930;
	background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(#2cd52c), to(#bbe930));
	background-image: -webkit-radial-gradient(50% 0%, #bbe930, #2cd52c);
}

.project-name {
	margin: 0;

	dt {
		width: 35%;
		font-weight: normal;
		font-size: 14px;
		@include titillium-reg;
		float: left;
	}
	dd {
		margin-left: 24px;
		font-size: 12px;
		float: left;
	}
}

.tbody {
	color: $grey;
}

.tbody:hover {
	color: $black;
}

.action-large .default-action {
	float: left;
}

.icon-repeat {
	-webkit-animation: rotate 3s infinite linear;
}

.breadcrumb li {
	margin-right: 20px;
	float: left;
}

.breadcrumb a {
	color: #ddd;
}

.breadcrumb a:hover {
	color: #666;
}

.breadcrumb .active a {
	color: #000;
}

.ip-protocoll {
	width: 23%;
}

.from-port {
	width: 23%;
}

.to-port {
	width: 22%;
}

.cidr {
	width: 20%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}