.tabs-stacked .open > a:hover {
	border-color:#999
}

.tabbable {
	*zoom:1
}

.tabbable:before,.tabbable:after {
	display:table;
	content:""
}

.tabbable:after {
	clear:both
}

.tab-content {
	/* overflow:hidden */
}

.tabs-below .nav-tabs,.tabs-right .nav-tabs,.tabs-left .nav-tabs {
	border-bottom:0
}

.tab-content > .tab-pane,.pill-content > .pill-pane {
	display:none
}

.tab-content > .active,.pill-content > .active {
	display:block
}

.tabs-below .nav-tabs {
	border-top:1px solid #ddd
}

.tabs-below .nav-tabs > li {
	margin-top:-1px;
	margin-bottom:0
}

.tabs-below .nav-tabs > li > a {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px
}

.tabs-below .nav-tabs > li > a:hover {
	border-bottom-color:transparent;
	border-top-color:#ddd
}

.tabs-below .nav-tabs .active > a,.tabs-below .nav-tabs .active > a:hover {
	border-color:transparent #ddd #ddd
}

.tabs-left .nav-tabs > li,.tabs-right .nav-tabs > li {
	float:none
}

.tabs-left .nav-tabs > li > a,.tabs-right .nav-tabs > li > a {
	min-width:74px;
	margin-right:0;
	margin-bottom:3px
}

.tabs-left .nav-tabs {
	float:left;
	margin-right:19px;
	border-right:1px solid #ddd
}

.tabs-left .nav-tabs > li > a {
	margin-right:-1px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}

.tabs-left .nav-tabs > li > a:hover {
	border-color:#eee #ddd #eee #eee
}

.tabs-left .nav-tabs .active > a,.tabs-left .nav-tabs .active > a:hover {
	border-color:#ddd transparent #ddd #ddd;
	*border-right-color:#fff
}

.tabs-right .nav-tabs {
	float:right;
	margin-left:19px;
	border-left:1px solid #ddd
}

.tabs-right .nav-tabs > li > a {
	margin-left:-1px;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}

.tabs-right .nav-tabs > li > a:hover {
	border-color:#eee #eee #eee #ddd
}

.tabs-right .nav-tabs .active > a,.tabs-right .nav-tabs .active > a:hover {
	border-color:#ddd #ddd #ddd transparent;
	*border-left-color:#fff
}