table {
	max-width:100%;
	border-collapse:collapse;
	border-spacing:0
}

.table {
	width:100%;
	margin-bottom:18px
}

.table th,.table td {
	padding:9px;
	line-height:18px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #ddd;
	
	a {
		color: $grey;
	}
}

.table td { 
	color: $grey;
}

.table th {
	font-weight:700
}

.table thead th {
	vertical-align:bottom
}

.table thead:first-child tr th,.table thead:first-child tr td {
	border-top:0
}

.table tbody + tbody {
	border-top:2px solid #ddd
}

.table-condensed th,.table-condensed td {
	padding:4px 5px
}

.table-bordered {
	border:1px solid #ddd;
	border-collapse:separate;
	*border-collapse:collapsed;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}

.table-bordered th + th,.table-bordered td + td,.table-bordered th + td,.table-bordered td + th {
	border-left:1px solid #ddd
}

.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td {
	border-top:0
}

.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child {
	-webkit-border-radius:4px 0 0 0;
	-moz-border-radius:4px 0 0;
	border-radius:4px 0 0 0
}

.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child {
	-webkit-border-radius:0 4px 0 0;
	-moz-border-radius:0 4px 0 0;
	border-radius:0 4px 0 0
}

.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child {
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px
}

.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child {
	-webkit-border-radius:0 0 4px 0;
	-moz-border-radius:0 0 4px;
	border-radius:0 0 4px 0
}

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th {
	background-color:#f9f9f9
}

.table tbody tr:hover td,.table tbody tr:hover th {
	background-color:#f5f5f5;
	color: $black;
	cursor: pointer;
	
	a {
		color: $red;
	}
}

table .span1 {
	float:none;
	width:44px;
	margin-left:0
}

table .span2 {
	float:none;
	width:124px;
	margin-left:0
}

table .span3 {
	float:none;
	width:204px;
	margin-left:0
}

table .span4 {
	float:none;
	width:284px;
	margin-left:0
}

table .span5 {
	float:none;
	width:364px;
	margin-left:0
}

table .span6 {
	float:none;
	width:444px;
	margin-left:0
}

table .span7 {
	float:none;
	width:524px;
	margin-left:0
}

table .span8 {
	float:none;
	width:604px;
	margin-left:0
}

table .span9 {
	float:none;
	width:684px;
	margin-left:0
}

table .span10 {
	float:none;
	width:764px;
	margin-left:0
}

table .span11 {
	float:none;
	width:844px;
	margin-left:0
}

table .span12 {
	float:none;
	width:924px;
	margin-left:0
}

.table-list {	
	> li {
		border-bottom: 1px solid $grey-light;
		padding: 15px 5px;
	}
	
	li > div {
		float: left;
	}

	> .thead {
		font-weight: 600;
		/*
border-bottom: 3px solid $black;
		border-top: 3px solid $black;
*/
		font-size: 11px;
		text-transform: uppercase;
	}
	
	.controls a {
		color: $grey-light;
	}
	
	.controls a:hover {
		color: $blue;
	}
	
	.tbody:hover {
		cursor: pointer;
		
		a {
			color: $red;
		}
	}
	
	.tbody a {
		color: $grey;
	}
	
	.default-action {
		margin-right: 5px;
	}
	
	ul.dropdown-menu a:hover {
		color: $white;
	}
}

.header-greyed {
  color: $grey;
}

.status {
	width: 3%;
	text-align: center;
}

.action {
	width: 12%;
}

.table .align-right {
	text-align: right;
}
