.btn-group {
	position:relative;
	*zoom:1;
	*margin-left:.3em
}

.btn-group:before,.btn-group:after {
	display:table;
	content:""
}

.btn-group:after {
	clear:both
}

.btn-group:first-child {
	*margin-left:0
}

.btn-group + .btn-group {
	margin-left:5px
}

.btn-toolbar {
	margin-top:9px;
	margin-bottom:9px
}

.btn-toolbar .btn-group {
	display:inline-block;
	*display:inline;
/* IE7 inline-block hack */
	*zoom:1
}

.btn-group .btn {
	position:relative;
	float:left;
	margin-left:-1px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}

.btn-group .btn:first-child {
	margin-left:0;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px
}

.btn-group .btn:last-child,.btn-group .dropdown-toggle {
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px
}

.btn-group .btn.large:first-child {
	margin-left:0;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px
}

.btn-group .btn.large:last-child,.btn-group .large.dropdown-toggle {
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px
}

.btn-group .btn:hover,.btn-group .btn:focus,.btn-group .btn:active,.btn-group .btn.active {
	z-index:2
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
	outline:0
}

.btn-group .dropdown-toggle {
	padding-left:8px;
	padding-right:8px;
	-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	*padding-top:5px;
	*padding-bottom:5px
}

.btn-group.open {
	*z-index:1000
}

.btn-group.open .dropdown-menu {
	display:block;
	margin-top:1px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}

.btn-group.open .dropdown-toggle {
	background-image:none;
	-webkit-box-shadow:inset 0 1px 6px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 6px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 6px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)
}

.btn .caret {
	margin-top:7px;
	margin-left:0
}

.btn:hover .caret,.open.btn-group .caret {
	opacity:1;
	filter:alpha(opacity=100)
}

.btn-primary .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret {
	border-top-color:#fff;
	opacity:.75;
	filter:alpha(opacity=75)
}

.btn-small .caret {
	margin-top:4px
}

.dropdown {
	position:relative
}

.dropdown-toggle {
	*margin-bottom:-3px
}

.dropdown-toggle:active,.open .dropdown-toggle {
	outline:0
}

.caret {
	display:inline-block;
	width:0;
	height:0;
	text-indent:-99999px;
	*text-indent:0;
	vertical-align:top;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #000;
	opacity:.3;
	filter:alpha(opacity=30);
	content:"\2193"
}

.dropdown .caret {
	margin-top:8px;
	margin-left:2px
}

.dropdown:hover .caret,.open.dropdown .caret {
	opacity:1;
	filter:alpha(opacity=100)
}

.dropdown-menu {
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	float:left;
	display:none;
	min-width:160px;
	_width:160px;
	padding:4px 0;
	margin:0;
	list-style:none;
	background-color:#fff;
	border-color:#ccc;
	border-color:rgba(0,0,0,0.2);
	border-style:solid;
	border-width:1px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	*border-right-width:2px;
	*border-bottom-width:2px
}

.dropdown-menu.bottom-up {
	top:auto;
	bottom:100%;
	margin-bottom:2px
}

.dropdown-menu .divider {
	height:1px;
	margin:5px 1px;
	overflow:hidden;
	background-color:#e5e5e5;
	border-bottom:1px solid #fff;
	*width:100%;
	*margin:-5px 0 5px
}

.dropdown-menu a {
	display:block;
	padding:3px 15px;
	clear:both;
	font-weight:400;
	line-height:18px;
	color:#555;
	white-space:nowrap
}

.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#08c
}

.dropdown.open {
	*z-index:1000
}

.dropdown.open .dropdown-toggle {
	color:#fff;
	background:#ccc;
	background:rgba(0,0,0,0.3)
}

.dropdown.open .dropdown-menu {
	display:block
}

.typeahead {
	margin-top:2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}