/*
 * PLACE JAVASCRIPT FILES UNDER /vendor/assets/stylesheets HERE
 *= require jquery.qtip
 *
 * PLACE JAVASCRIPT FILES UNDER /app/assets/stylesheets HERE
 *= require master
 *= require_tree ./fonts/bitstream
 *= require_tree ./fonts/titillium
 *
 *= require_self
*/

  #holder {
    height: 300px;
    margin: 0 0;
    width: 300px;
    float: left;
  }

  #holder2 {
    height: 300px;
    margin: 0 0;
    width: 300px;
    float: left;
  }
  #holder3 {
    height: 300px;
    margin: 0 0;
    width: 300px;
    float: left;
  }