$black: #1c1c1c;
$black-medium: #373737;
$black-light: #898989; 
$white: #fefefe;
$white-light: #f5f5f5;
$white-medium: #f3f3f3;
$white-dark: #494949;
$grey: #aaa;
$grey-light: #e9e9e9;
$grey2: #999;
$red: #d6002b;
$red-light: #f9ebe8;
$blue: #08c;

@mixin titillium-light {
	font-family: 'TitilliumText22LLight', sans-serif;
}

@mixin titillium-reg {
	font-family: 'TitilliumText22LRegular', sans-serif;
}

@mixin titillium-med {
	font-family: 'TitilliumText22LMedium', sans-serif;
}

@mixin titillium-bold {
	font-family: 'TitilliumText22LBold', sans-serif;
}

@mixin titillium-xbold {
	font-family: 'TitilliumText22LXBold', sans-serif;
}

@mixin bitstream-reg {
	font-family: 'BitstreamVeraSansMonoRoman', sans-serif;
}