<header class="l-head clearfix">
  <div class="avatar left clearfix"><i class="icon-user"></i></div>

  <dl class="user left">
    <dt><%= link_to 'Super SysAdmin Spoof', session_accnt_owner_path(), :id => 'accnt_owner' %></dt>
    <dd>CP System Default Account</dd>
  </dl>

  <p><a class="btn right" href="">Logout</a></p>
</header>
