<nav class="span3 l-sidebar">
    <div class="logo"><img src="/assets/logo.png" alt="morphlabs"/></div>
    
    <ul class="main-nav">
        <li><%= link_to 'Dashboard', session_dashboard_path(), :id => 'dashboard' %></li>

        <li>
            <%= link_to 'Projects', session_project_list_path(), :id => 'projects' %>
        </li>

        <li><%= link_to 'Users', session_users_path(), :id => 'users' %></li>

        <li><%= link_to 'Usage', session_billing_path(), :id => 'billing' %></li>
        
        <li><%= link_to 'Support', session_billing_path(), :id => 'support' %></li>
    </ul>
</nav>