<!DOCTYPE html>
<html>
<head>
  <title>mCloud Web Client</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--[if lt IE 7]>
  <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

<div class="container-fluid">
  <div class="row-fluid">

  <%= render "layouts/navigation" %>

    <div class="span9 l-main">

      <%= render "layouts/header" %>

          <%= yield %>

    </div>
  </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
